*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/fileverifier-cli/build/
/fileverifier-swing/build/
/file-verifier-swing/build/
/file-verifier-lib/build/
/file-verifier-cli/build/
/.nb-gradle/private/
/.gradle